<div class="page-bar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="page-title-breadcrumb">
        <ol class="breadcrumb page-breadcrumb pull-left">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index">Home</a>&nbsp;<i
                    class="fa fa-angle-right"></i>
            </li>
            <li class="active">菜单管理</li>
        </ol>
    </div>
</div>

<!-- start Payment Details -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <button type="button" onclick="javaScript:manju.OpenPageLoad2('menu/edit', {}, 'menuBox')"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-primary">新建
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-sm-9" id="menuBox">
        <div th:replace="menu/menu_list :: list"></div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div th:replace="menu/menu_tree :: tree"></div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="myModalClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div id="treeview8" class=""></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end Payment Details -->

<!-- bootstrap tree -->
<script th:src="@{/assets/plugins/bootstrap-treeview/bootstrap-treeview.js}"></script>
<script th:src="@{/js/menu/treeview.js}"></script>