<div class="page-bar">
    <div class="page-title-breadcrumb">
        <ol class="breadcrumb page-breadcrumb pull-left">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index2">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">字典</li>
        </ol>
    </div>
</div>

<!--<dict:select type="1" name="1" class="form-control form-control-sm" id="abc" option="true"/>-->

<!--<h2 th:text="${dict.selectDictTranslate('1','1')}"></h2>-->


<!-- start Payment Details -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card  card-box">
            <div class="card-head">
                <header></header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <div class="table-wrap">
                    <div class="table-responsive">
                        <div class="hidden-xs" id="support_table5Toolbar" role="group">
                            <div class="row">
                                <div class="col-lg-10 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search..." name="query">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="support_table5" data-mobile-responsive="true" data-click-to-select="true">
                            <thead>
                            <tr>
                                <th data-field="selectItem" data-checkbox="true"></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Payment Details -->


<script th:src="@{/js/dictionary/dictionary.js}" ></script>