<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manjushirwa.mapper.admin.MenuMapper">
    <sql id="Base_Column_List">
        id,name,code,parent_id,parent_ids,href,target,icon,sort,display,permission,
        create_by as "createBy.id",create_date,update_by as "updateBy.id",update_date,remarks,del_flag
    </sql>
    <!--获取菜单-->
    <select id="getById" resultType="com.manjushirwa.pojo.admin.po.Menu">
        select
            <include refid="Base_Column_List"/>
        from sys_menu
        where id=#{id}
    </select>
    <!--查询菜单集-->
    <select id="listAll" resultType="com.manjushirwa.pojo.admin.po.Menu">
        select
          <include refid="Base_Column_List"/>
        from sys_menu
    </select>
    <!--查询菜单集-->
    <select id="listTree" resultType="com.manjushirwa.pojo.admin.po.Menu">
        select
          <include refid="Base_Column_List"/>
        from sys_menu
    </select>
    <!--插入菜单-->
    <insert id="insert">
        insert into sys_menu(
        <include refid="Base_Column_List"/>
        ) VALUES  (
        #{id}, #{name}, #{code}, #{parentId}, #{parentIds}, #{href}, #{target}, #{icon}, #{sort},
        #{display}, #{permission}, #{createBy.id}, #{createDate}, #{updateBy.id}, #{updateDate},
        #{remarks}, #{delFlag}
        )
    </insert>
    <!-- 更新菜单 -->
    <update id="update">
        update sys_menu set
        name=#{name},
        code=#{code},
        parent_id=#{parentId},
        parent_ids=#{parentIds},
        href=#{href},
        target=#{target},
        icon=#{icon},
        sort=#{sort},
        display=#{display},
        permission=#{permission},
        create_by=#{createBy.id},
        create_date=#{createDate},
        update_by=#{updateBy.id},
        update_date=#{updateDate},
        remarks=#{remarks},
        del_flag=#{delFlag}
        where id=#{id}
    </update>
    <!-- 删除菜单 -->
    <delete id="deleteById">
        delete from sys_menu where id=#{id}
    </delete>
     <!--分页查询对象-->
    <select id="selectPage" resultType="com.manjushirwa.pojo.admin.po.Menu">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu where 1=1 ${ew.sqlSegment}
    </select>
</mapper>