<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Smile Admin | Bootstrap Responsive Admin Template</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link th:href="@{/assets/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/fonts/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/fonts/material-design-icons/material-icon.css}" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="/public/static/css/bootstrap.min.css" rel="stylesheet}" type="text/css" />
    <link th:href="@{/assets/plugins/summernote/summernote.css}" rel="stylesheet">
    <!-- Material Design Lite CSS -->
    <link  th:href="@{/assets/plugins/material/material.min.css}" rel="stylesheet" type="text/css">
    <!-- animation -->
    <link th:href="@{/assets/css/pages/animate_page.css}" rel="stylesheet">
    <!-- inbox style -->
    <link th:href="@{/assets/css/pages/inbox.min.css}" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link th:href="@{/assets/plugins/fullcalendar/fullcalendar.css}" rel="stylesheet" type="text/css" />
    <!-- Date Time item CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css}" />
    <link th:href="@{/assets/css/plugins.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/theme-color.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/plugins/jquery-ui-1.12.0/jquery-ui.css}" rel="stylesheet" type="text/css" />
    <!--layui-->
    <link th:href="@{/assets/plugins/layui/css/layui.css}" rel="stylesheet" type="text/css" />

    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/assets/img/favicon.ico}" />


    <!-- start js include path -->
    <script th:src="@{/assets/plugins/jquery-3.3.1/jquery-3.3.1.js}" ></script>
    <!--layui-->
    <script th:src="@{/assets/plugins/layui/layui.js}" ></script>

    <!--<script th:src="@{/assets/plugins/jquery/jquery.min.js}" ></script>-->

    <script th:src="@{/assets/plugins/jquery-ui-1.12.0/jquery-ui.min.js}" ></script>
    <script th:src="@{/assets/plugins/jquery-blockui/jquery.blockui.min.js}" ></script>
    <script th:src="@{/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- bootstrap -->
    <script th:src="@{/static/js/bootstrap.min.js}" ></script>
    <script th:src="@{/static/js/popper.min.js}" ></script>

    <!--handlebars-->
    <script th:src="@{/assets/js/handlebars/handlebars-v4.0.11.js}" ></script>
    <script th:src="@{/assets/plugins/sparkline/jquery.sparkline.min.js}" ></script>
    <!-- data tables -->
    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js}" ></script>
    <!-- material -->
    <script th:src="@{/static/js/material.min.js}"></script>

</head>
<body>
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">日程管理
                    </div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="">主页</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">日程管理</li>

                </ol>
            </div>
        </div>
        <div>
            <div >
                <button  id="addCalendar" class="btn blue blue-bgcolor btn-outline m-b-10" style="width: 100px;margin-right: 15px">
                    <span class="icon-plus " aria-hidden="true"></span>新建
                </button>
                <button  onclick="" class="btn yellow btn-outline m-b-10" style="width: 100px;margin-left: 15px">
                    <span class="icon-magnifier-add " aria-hidden="true" ></span>查询
                </button>
            </div>
            <div id="calendar" style="position: center;"></div>

            <!--<div id="dlg_All" style="position: center;display: none">-->
                <!--<form action="#" id="form_sample_1" class="form-horizontal">-->
                    <!--<div class="form-body">-->
                        <!--<div class="form-group row">-->
                            <!--<label class="control-label col-md-5">主题-->
                                <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input type="text" name="title" data-required="1" class="form-control" placeholder="title"/> </div>-->
                        <!--</div>-->
                        <!--<div class="form-group row">-->
                            <!--<label class="control-label col-md-5">开始时间-->
                                <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input type="text" id="date-start" class="floating-label mdl-textfield__input" placeholder="Start Date">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group row">-->
                            <!--<label class="control-label col-md-5">结束时间-->
                                <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input type="text" id="date-end" class="floating-label mdl-textfield__input" placeholder="End Date">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group row">-->
                            <!--<label class="control-label col-md-5">备注-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<input name="description" type="text" class="form-control" placeholder="description"/> </div>-->
                        <!--</div>-->

                        <!--<div id="btns_All">-->
                            <!--<button id="btn_DlgAdd" onclick="" class="btn yellow btn-outline m-b-10" style="width: 130px;margin-left: 30px">-->
                                <!--<div class="icon-holder">-->
                                    <!--<i class="material-icons f-left">assignment_turned_in</i>-->
                                <!--</div>-->
                                <!--添加保存-->
                            <!--</button>-->
                            <!--<button id="btn_DlgCancle" onclick="" class="btn yellow btn-outline m-b-10" style="width: 130px;margin-left: 30px">-->
                                <!--<div class="icon-holder">-->
                                    <!--<i class="material-icons f-left">autorenew</i>-->
                                <!--</div>-->
                                <!--清空-->
                            <!--</button>-->
                            <!--<button id="btn_DlgEdit" onclick="" class="btn yellow btn-outline m-b-10" style="width: 130px;margin-left: 30px">-->
                                <!--<div class="icon-holder">-->
                                    <!--<i class="material-icons f-left">build</i>-->
                                <!--</div>-->
                                <!--编辑保存-->
                            <!--</button>-->
                            <!--<button id="btn_DlgDel" onclick="" class="btn yellow btn-outline m-b-10" style="width: 130px;margin-left: 30px">-->
                                <!--<div class="icon-holder">-->
                                    <!--<i class="material-icons f-left">receipt</i>-->
                                <!--</div>-->
                                <!--删除-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->

            <!--</div>-->
            <!--<div class="col-md-9 col-sm-12">-->
            <!--<div class="card-box">-->
            <!--<div class="card-head">-->
            <!--<header>Calendar</header>-->
            <!--</div>-->
            <!--<div class="card-body ">-->
            <!--<div class="panel-body">-->
            <!--<div id="calendar" class="has-toolbar"> </div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-12">-->
            <!--<div class="card-box">-->
            <!--<div class="card-head">-->
            <!--<header>Draggable Events</header>-->
            <!--</div>-->
            <!--<div class="card-body ">-->
            <!--<div id="external-events">-->
            <!--<form class="inline-form">-->
            <!--<input type="text" value="" class="form-control" placeholder="Event Title..." id="event_title" />-->
            <!--<br/>-->
            <!--<a href="javascript:;" id="event_add" class="btn deepPink-bgcolor"> Add Event </a>-->
            <!--</form>-->
            <!--<hr/>-->
            <!--<div id="event_box" class="mg-bottom-10"></div>-->
            <!--<label class="rt-chkbox rt-chkbox-single rt-chkbox-outline" for="drop-remove"> remove after drop-->
            <!--<input type="checkbox" class="group-checkable" id="drop-remove" />-->
            <!--<span></span>-->
            <!--</label>-->
            <!--<hr class="visible-xs" /> -->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<script th:src="@{/assets/plugins/moment/moment.min.js}" ></script>
<script th:src="@{/assets/plugins/fullcalendar/fullcalendar.min.js}" ></script>
<!-- animation -->
<script th:src="@{/assets/js/pages/ui/animations.js}" ></script>
<script th:src="@{/assets/plugins/material-datetimepicker/moment-with-locales.min.js}"></script>
<script th:src="@{/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js}"></script>
<script th:src="@{/assets/plugins/material-datetimepicker/datetimepicker.js}"></script>
<script th:src="@{/js/calendar.js}" ></script>

</body>
</html>