<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>jQuery弹出层效果</title>
  <meta charset="utf-8" />
  <meta content="网页特效,特效代码,jQuery,css特效,Js代码,广告幻灯,图片切换" name="keywords" />
  <meta content="jQuery弹出层效果，有关闭按钮，代码简单易懂，你可以随意修改弹出层的参数。" name="description" />
  <link th:href="@{/assets/plugins/layui/css/layui.css}" rel="stylesheet" type="text/css" />

  <script th:src="@{/assets/plugins/jquery-3.3.1/jquery-3.3.1.js}" ></script>
  <!--layui-->
  <script th:src="@{/assets/plugins/layui/layui.js/}" ></script>
</head>
<body>
<script>
    //弹出一个提示层
     function click(){
        layer.msg('hello');
    };
</script>
<button type="button" id="test1" onclick="click()">test</button>
</body>
</html>