.form-search label {
    margin-left: 10px
}

.form-search span label {
    margin-left: 0
}

.form-search .ul-form {
    margin: 0;
    overflow: hidden
}

.form-search .ul-form li {
    float: left;
    list-style: none;
    height: 35px;
    line-height: 35px
}

.form-search .ul-form li label {
    width: 80px;
    text-align: right
}

.form-search .ul-form li span label {
    width: auto
}

.form-search .ul-form li.clearfix {
    float: none
}

.form-search .ul-form li.btns {
    padding-left: 10px
}

.form-search .ul-form li.btns .btn {
    margin-right: 5px
}

.form-horizontal {
    margin: 0 10px
}

.form-horizontal .control-group {
    margin-bottom: 8px
}

.form-horizontal .control-label {
    padding-top: 3px
}

.form-horizontal .controls {
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden
}

.form-horizontal .controls label.error {
    background-position: 0 2px
}

.form-horizontal .table-form {
    width: 100%;
    border-color: #ddd
}

.form-horizontal .table-form, .form-horizontal .table-form td {
    border: 1px solid #ddd;
    background-color: #fdfdfd;
    padding: 4px
}

.form-horizontal .table-form td.tit {
    background: #fafafa;
    text-align: center;
    padding-right: 8px;
    white-space: nowrap
}

.form-horizontal .form-actions {
    margin-bottom: 0
}

.form-horizontal fieldset .row-fluid {
    margin-bottom: 10px
}

.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
    vertical-align: middle
}

label {
    display: inline-block;
    margin-bottom: 0
}

input[type="radio"], input[type="checkbox"] {
    margin: -2px 3px;
    *margin-top: 1px
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: auto;
    background-color: #f3f3f3
}

.input-prepend input, .input-append input, .input-prepend select, .input-append select, .input-prepend .uneditable-input, .input-append .uneditable-input {
    position: static
}